*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav 
{
    overflow: hidden;
    
}
.logo
{
    padding-left: 90px;
    float: left;
}

nav a 
{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 25px;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 16px;
}
.menu{
    float: right;
    padding-top: 40px;
    padding-right: 40px;
}

nav a:hover 
{
    color: powderblue;
}

.active1 
{
    color: powderblue;
}
.headerTitle
{
    width: 100%;
    text-align: center;
    margin-top: 155px;
}
.navSubtitle
{
    display: inline;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 18px;
}
.navHeader
{
    font-family: 'Baskerville';
    font-size: 70px;
    letter-spacing: 2px;
    color: white;
}
.mainContent
{
    background-color: white;
    margin-top: 220px;
}
.askUsContent
{
    background-color: white;
    margin: 90px auto auto auto;
    width: 68%;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 0.2);
    position: relative;
}
.askUsText
{
    font-family: 'Poppins Medium', sans-serif;
    font-size: 40px;
    color: #61566F;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 1px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.center
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.tdStyle{
    font-size: 16px;
    font-family: 'Poppins Light', sans-serif;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    color: #4D3C64;
    border: 1px solid #5A5066;
    border-radius: 5px;
}
.center textarea
{
    font-size: 16px;
    font-family: 'Poppins Light', sans-serif;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-top: 5px;
    color: #4D3C64;
    border: 1px solid #5A5066;
    border-radius: 5px;
    resize: none;
    margin-top: 18px;
}
table tr
{
    height: 80px;
    
}
table td
{
    padding: 0 15px;
}
.askUsContent button
{
    background-color: white;
    float: right;
    font-family: 'Poppins Light', sans-serif;
    color: #4D3C64;
    font-size: 18px;
    border: 1px solid #402D59;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
.center button:hover
{
    background-color: #EA9AC0;
    color: white;
    border: 1px solid #EA9AC0;
}
.faqContent
{
    margin: 80px auto auto auto;
    width: 68%;
}
.faqTitle
{
    font-family: 'Poppins Medium', sans-serif;
    color: #61566F;
    font-size: 25px;

}
.faQues
{
    width: 100%;
    padding-top: 25px;
}
.faQues tr{
    
    height: 15px;
}
.faQues td
{
    padding: 0; 
    margin: 0;
}
.faQues p
{
    font-family: 'Poppins Light', sans-serif;
    font-size: 15px;
    color: #473F51;
}
#myDIV
{
    font-family: 'Poppins Light', sans-serif;
    font-size: 15px;
    color: #989898;
    padding-top: 10px;
    
}
#myDIV2, #myDIV3, #myDIV4, #myDIV5
{
    font-family: 'Poppins Light', sans-serif;
    font-size: 15px;
    color: #989898;
    padding-top: 10px;
}
.wrapper .down
{
    display: none;
}
  
.wrapper.active .down
{
    display: inline;
    color: #473F51;
}
  
.wrapper.active .up
{
    display: none;
    color: #473F51;
}
.locationContent
{
    margin-top: 120px;
}
.locationContent td
{
    padding: 0; 
    margin: 0;
}
.locationTitle
{
    font-family: 'Poppins Medium', sans-serif;
    font-size: 30px;
    color: #61566F;
    padding-top: 20px;
}
.locationAdd
{
    font-family: 'Poppins Light', sans-serif;
    font-size: 17px;
    color: #61566E;
    padding-right: 30px;
    text-align: justify;
}
.footerBg
{
    width: 100%;
    background-color: #7499C5;
    margin-top: 150px;
    padding-bottom: 40px;
}
.footer
{
    padding: 40px 110px 0px 110px
}
.footerHeader
{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.footerText
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
    display: inline-block;
}
.footerIcon
{
    vertical-align: top;
    padding-top: 4px;
    padding-right: 10px;
    font-size:25px;
    color:white;
}
.footerIcon1
{
    padding-top: 4px;
    padding-right: 10px;
    font-size:25px;
    color:white;
}
.footerIcon2
{
    font-size:30px;
    color:white;
    padding-bottom: 20px;
}