

.ques1 {
     text-decoration: none;
     box-shadow: inset 0px -10px 0px 0px yellow;
     transition: all .3s ease-in-out;
}
  .ques1:hover{
    box-shadow: inset 0px -1px 0px 0px yellow;

    transition: all .3s ease-in-out;
  }
   /* .ques1::before {
    content: '';
    background-color: rgba(9, 60, 78, 0.75);
    position: absolute;
    /* left: 0; 
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  .ques1:hover::before {
    bottom: 0;
    height: 100%;
  }
   Presentational Styles */
  .ques {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: blueviolet;
    /* line-height: 1.5; */
    /* height: 100vh; */
    /* place-items: center; */
  }


  .footerBg
{
    position: absolute;
    width: 100%;
    background-color: #7499C5;
    margin-top: 150px;
    padding-bottom: 40px;
}
.footer
{
    padding: 40px 110px 0px 110px
}
.footerText
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
    display: inline-block;
}