*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav 
{
    overflow: hidden;
    
}
.logo
{
    padding-left: 90px;
    float: left;
}

nav a 
{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 25px;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 16px;
}
.menu{
    float: right;
    padding-top: 40px;
    padding-right: 40px;
}

nav a:hover 
{
    color: powderblue;
}

.active1 
{
    color: powderblue;
}
.headerTitle
{
    width: 100%;
    text-align: center;
    margin-top: 155px;
}
.navSubtitle
{
    display: inline;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 18px;
}
.navHeader
{
    font-family: 'Baskerville';
    font-size: 70px;
    letter-spacing: 2px;
    color: white;
}
.mainBody{
    background-color: white;
    margin-top: 220px;
    width: 100%;
    
}
.card
{
    background-color: rgb(255, 255, 255);
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
    height: 180px;
    margin: 60px auto auto auto;
    position: relative;
}
.center
{
    border-spacing: 40px 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 180px;

}

.card table td
{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins Light', sans-serif;
    color: #4D3C64;
    font-size: 20px;
    
}
.center button
{
    background-color: white;
    display: inline-block;
    font-family: 'Poppins Light', sans-serif;
    color: #4D3C64;
    font-size: 20px;
    border: 1px solid #402D59;
    cursor: pointer;
    
}
.center button:hover
{
    background-color: #EA9AC0;
    color: white;
    border: 1px solid #EA9AC0;
}
.roomsGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 20px;
}
.roomGridItem
{
    border: 1px solid rgb(228, 228, 228);
}
.roomGridItem p
{
    display: inline;
}
.roomTd
{
    color: #313030;
    text-decoration: none;
    font-family: 'Baskerville';
    font-size: 30px;
}
.priceTd
{
    color: #643A86;
    text-decoration: none;
    font-family: 'Benne';
    font-size: 45px;
}
.rsTd
{
    color: #383838;
    text-decoration: none;
    font-family: 'Baskerville';
    font-size: 18px;
}
.tableHead
{
    color: #787878;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-bottom: 15px;
}
.tableSub
{
    color: #787878;
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-bottom: 15px;
}
.viewDetails
{
    display: inline-block;
    position: relative;
    background-color: white;
    font-family: 'Poppins Light', sans-serif;
    color: #4D3C64;
    font-size: 15px;
    border: 1px solid #402D59;
    cursor: pointer;
    height: 40px;
    width: 120px;
    text-align: center;
}
.viewDetails:hover
{
    background-color: #EA9AC0;
    color: white;
    border: 1px solid #EA9AC0;
}
.footerBg
{
    width: 100%;
    background-color: #7499C5;
    margin-top: 150px;
    padding-bottom: 40px;
}
.footer
{
    padding: 40px 110px 0px 110px
}
.footerHeader
{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
}
.footerText
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
    display: inline-block;
}
.hover-1
{
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 0.5px;
    
    --h: 1.2em;   
  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
        0 calc(-1*var(--_t,0em)) white, 
        0 calc(var(--h) - var(--_t,0em)) rgb(33, 59, 116);
    overflow: hidden;
    transition: .3s;
}
.hover-1:hover {
  --_t: var(--h);
}

.ques {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0px -10px 0px 0px rgb(65, 121, 158);
    transition: all .3s ease-in-out;
}

.ques:hover
{
    box-shadow: inset 0px -1px 0px 0px rgb(65, 121, 158);
    transition: all .3s ease-in-out;
}
.footerIcon
{
    vertical-align: top;
    padding-top: 4px;
    padding-right: 10px;
    font-size:25px;
    color:white;
}
.footerIcon1
{
    padding-top: 4px;
    padding-right: 10px;
    font-size:25px;
    color:white;
}
.footerIcon2
{
    font-size:30px;
    color:white;
    padding-bottom: 20px;
}
.footerIconFx
{
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 22px;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 5%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  .footerIconFx:first-child
  {
    margin-left: 0;
  }
.footerIconFx:after
{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 2px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}
  
.footerIconFx:hover
{
    background-color: #fff;
    color: #7499C5;
}
  
.footerIconFx:hover:after
{
    opacity: 1;
    transform: scale(1.15);
}
