*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav 
{
    overflow: hidden;
    
}
.logo
{
    padding-left: 90px;
    float: left;
}

nav a 
{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 25px;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 16px;
}
.menu{
    float: right;
    padding-top: 40px;
    padding-right: 40px;
}

nav a:hover 
{
    color: powderblue;
}

.headerTitle
{
    width: 100%;
    text-align: center;
    margin-top: 155px;
}
.navSubtitle
{
    display: inline;
    font-family: 'Poppins Medium', sans-serif;
    font-size: 18px;
}
.navHeader
{
    font-family: 'Baskerville';
    font-size: 70px;
    letter-spacing: 2px;
    color: white;
}
.mainBody{
    background-color: white;
    margin-top: 220px;
    width: 100%;
}
.subBody{
    padding: 50px 200px 0px 200px;
}
.tableIcons
{
    text-align: right;
    vertical-align:bottom;
    padding-bottom: 24px;
    letter-spacing: 8px;
    color: #B7B7B7;
}
.blogContent
{
    font-family: 'Poppins Light', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #535353;
    text-align: justify;
    padding: 40px 0;
}
.imagesRow{
    padding-top: 15px;
}
.imageColumn
{
    float: left;
    width: 20%;
    height: 120px;
    padding-left: 5px;
}

.imageColumn:first-child 
{
    padding-left:0px;
}

.imagePanel
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 80px;
}

.imageSlides
{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    max-width: 1200px;
    max-height: 1080px;
}
/* The Close Button */
.close
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover
{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides
{
    display: none;
}
  
.cursor
{
    cursor: pointer;
}
  
/* Next & previous buttons */
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; /*Prevent text selection*/
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/5 etc) */
.numText
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
img
{
    margin-bottom: -4px;
}
  
img.hover-shadow
{
    transition: 0.3s;
}
  
.hover-shadow:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footerBg
{
    width: 100%;
    background-color: #7499C5;
    margin-top: 200px;
    padding-bottom: 40px;
}
.footer
{
    padding: 40px 110px 0px 110px
}
.footerText
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
    display: inline-block;
}

.hover-1
{
    text-decoration: none;
    font-family: 'Poppins Light', sans-serif;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 0.5px;
    
    --h: 1.2em;   
  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
        0 calc(-1*var(--_t,0em)) white, 
        0 calc(var(--h) - var(--_t,0em)) rgb(33, 59, 116);
    overflow: hidden;
    transition: .3s;
}
.hover-1:hover {
  --_t: var(--h);
}

.ques {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0px -10px 0px 0px rgb(65, 121, 158);
    transition: all .3s ease-in-out;
}

.ques:hover
{
    box-shadow: inset 0px -1px 0px 0px rgb(65, 121, 158);
    transition: all .3s ease-in-out;
}

.footerIcon
{
    vertical-align: top;
    padding-top: 4px;
    padding-right: 10px;
    font-size:25px;
    color:white;
}
.footerIcon1
{
    padding-top: 4px;
    padding-right: 10px;
    font-size:25px;
    color:white;
}

.footerIconFx
{
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 22px;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 5%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  .footerIconFx:first-child
  {
    margin-left: 0;
  }
.footerIconFx:after
{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 2px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}
  
.footerIconFx:hover
{
    background-color: #fff;
    color: #7499C5;
}
  
.footerIconFx:hover:after
{
    opacity: 1;
    transform: scale(1.15);
}